name: Test
on:
  push:

permissions: read-all

jobs:
  test:
    runs-on: ubuntu-24.04
    steps:
      - name: Verify action checksums
        uses: ./.github/actions/ghasum
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - name: Install tooling
        uses: asdf-vm/actions/install@v4.0.0
      - name: Install Node.js
        uses: actions/setup-node@v6.0.0
        with:
          cache: npm
          node-version-file: .nvmrc
      - name: Install dependencies
        run: echo 'success'
